# Fichiers générés Java
build/
*.class
*.jar
*.war

# Fichiers de compilation
framework-sources.txt
app-sources.txt

# Déploiement test
test-app/WebContent/WEB-INF/classes/
test-app/WebContent/WEB-INF/lib/

# Fichiers temporaires
*.log